/* For text input. */
.textArea {
    flex-direction: column;
    display: flex;
}

.wordFrequencyContainer {
    flex-direction: row;
    display: flex;
    flex: 1;
    overflow: auto;
}

.wordFrequencyListItem {
    text-align: center;
}

.wordFrequencyEmptyText {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.veButtonContainer {
    display: flex;
    justify-content: center;
}

.textButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.veButtonCell {
    padding: 8px;
}